<html lang="en">
      <head>
            <%- include('../partials/head') %>
      </head>
      <body>
            <% if (loggedAdmin) {%>
                  <%- include('../partials/navLogged'); %>
                  <%- include('../partials/addProduct'); %>
                  <%- include('../partials/products'); %>
                  <%- include('../partials/chat'); %>

            <% } else if (loggedUser) {%>
                  <%- include('../partials/navLogged'); %>
                  <%- include('../partials/products'); %>
                  <%- include('../partials/chat'); %>

            <% } else if (username) {%>
                  <%- include('../partials/navLogout') %>

            <% } else if (signup) {%>
                  <%- include('../partials/signup'); %>

            <% } else { %>
      
                  <%- include('../partials/navLogin'); %>
                  
            <% } %>
            
            <footer>
                  <%- include('../partials/footer')  %> 
                  <script src="/js/index.js"></script>
            </footer>
      </body>
</html>