<html lang="en">
      <head>
            <%- include('../partials/head') %>
      </head>
      <body>
            <div class="container">
                  <p>Argumentos de entrada: <%= argumentos %></p>
                  <p>Sistema operativo: <%= sistema %></p>
                  <p>Versión de node: <%= version %></p>
                  <p>Memoria utilizada: <%= memoria %></p>
                  <p>Path: <%= path %></p>
                  <p>Id del proceso: <%= id %></p>
                  <p>Directorio: <%= directorio %></p>
                  <p>Número de CPUs: <%= nucleos %></p>
            </div>
      </body>
</html>