<html lang="en">
      <head>
            <%- include('../partials/head') %>
      </head>
      <body>
            <div class="container">
                  <p>argumentos de entrada: <%= argumentos %></p>
                  <p>sistema operativo: <%= sistema %></p>
                  <p>verison de node: <%= version %></p>
                  <p>memoria utilizada: <%= memoria %></p>
                  <p>path: <%= path %></p>
                  <p>id del proceso: <%= id %></p>
                  <p>directorio: <%= directorio %></p>
            </div>
            
      </body>
</html>